.form-control-dark {
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #130101;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

/* .container {
  max-height: 3em;
} */

#mainheader {
  max-height: 12em;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

#img {
  max-width: 4em;
  height: 4em;
  border: 1px solid black;
}

.hheader {
  margin-right: 1em;
}

.userdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      "pfp fields"
      ". logout";
  grid-auto-flow: row;
  margin-top: 2em;
}

.pfp {
  grid-area: pfp;
  margin-right: 1em;
}

.pfpheader {
  height: 4em;
  width: 4em;
}

.fields {
  grid-area: fields;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      "firstname"
      "lastname";
}

.logoutbutton {
  margin-top: 1em;
  grid-area: logout;
}

.firstname {
  margin-bottom: 1em;
}

#mainheader {
    border-bottom: 2px solid black;
}