main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    gap: 2em 0em;
    min-width: 100%;
    min-height: 75em;
}

.posts > * {
    margin-bottom: 1em;
}

.body {
    background-color: rgba(156, 9, 38, 0.767);
    min-width: 100%;
}

.profiledetails {
    min-width: 50vw;
    display: grid;
    grid-template-columns: .25fr 2.25fr .5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "userpfp fields followbutton";
    grid-auto-flow: row;
    border: 5px solid black;
    background-color: rgba(219, 214, 215, 0.116);
}

.profiledetails > * {
    margin: 1em;
}

.userpfp {
    grid-area: 'userpfp';
    max-width: fit-content;
}

.fullname {
    grid-area: 'fullname';
    margin-top: .5em;
}

.username {
    grid-area: 'username';
}

#huntbtndiv {
    visibility: hidden;
    grid-area: 'newhunt';
    border-color: black;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    gap: 0em 1em;

}

#huntbutton {
    padding: 1em;
    width: 8em;
}

#importbutton {
    padding: 1em;
    width: 8em;
}

@media (min-width: 878px) {
    .huntlists {
        height: 30em;
        width: 60vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        border: 3px solid black;
        background-color: rgba(219, 214, 215, 0.952);
    }

    .huntlist {
        width: 50%;
        height: 100%;
        grid-auto-flow: column;
        overflow-x: hidden;
        overflow-y: auto;
        border: 5px solid black;
        background-color: rgba(7, 2, 3, 0.767);
    }

    li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid black;
        border-radius: 4px;
        margin: 1em 2em 1em 2em;
        height: 10em;
    }
}

@media (min-width: 443px)  and (max-width: 877px) {
    .huntlists {
        height: 30em;
        width: 60vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        border: 3px solid black;
        background-color: rgba(219, 214, 215, 0.952);
    }

    .huntlist {
        width: 100%;
        height: 50%;
        grid-auto-flow: column;
        overflow-x: hidden;
        overflow-y: auto;
        border: 5px solid black;
        background-color: rgba(7, 2, 3, 0.767);
    }

    li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid black;
        border-radius: 4px;
        margin: 1em 2em 1em 2em;
        height: 10em;
    }

}

@media (max-width: 442px) {
    .huntlists {
        height: 30em;
        width: 60vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        border: 3px solid black;
        background-color: rgba(219, 214, 215, 0.952);
    }

    .huntlist {
        width: 100%;
        height: 50%;
        grid-auto-flow: column;
        overflow-x: hidden;
        overflow-y: auto;
        border: 5px solid black;
        background-color: rgba(7, 2, 3, 0.767);
    }

    li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid black;
        border-radius: 4px;
        margin: 1em 2em 1em 2em;
        height: 10em;
    }

    .pkm_pic {
        display: none;
    }

}



.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hunt_details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.right {
    align-self: center;
}

.count_display {
    margin-right: .25em;
    font-size: 200%;
}

.date_display {
    margin-left: .5em;
}

.name_display {
    margin-left: .5em;
}

.time_display {
    margin-left: .5em;
}

#active {
    grid-area: "active";
}

#completed {
    grid-area: "completed";
}

h3 {
    align-self: flex-start;
    margin: .5em;
    margin-top: 1em;
    color: rgba(231, 20, 62, 0.822);
}

.followpfp {
    border: 1px solid black;
}

#followbuttondiv {
    grid-area: 'followbutton';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}


.profilebutton {
    border-color: black;
    color: black;
    margin: 1em;
    align-self: flex-end;
    margin-top: 0em;
}
  
#followbutton:hover {
    background-color: rgba(255, 0, 0, 0.589);
}

.hheader:hover {
    cursor: pointer;
}
